  
.carousel-inner{

    width: 700px;
  
  
  }
  .accordion{
  
  
  margin-left: 65px;
  width: 1050px;
    
  }
  .container_div{
  
    display: flex;
  }
  .conteiner_2{
  
    
    width: 1050px;
    height: 380px;
    margin-top: 25px;
    padding: 10px;
  }
  .image{
  
  
  width: 750px;
  height: 350px;
  } 
  .text{
  
  
  width: 1000px;
  height: 350px;
  }
  .conteiner_3{
  
  
  margin-top: 100px;
  display: flex;
  margin-right: 30px;
  justify-content: center;
  justify-content: space-between;
  }
  .line{
  
  border: solid 1px;
  
  }
  footer{
  
  margin-top: 500px;
  }